* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Serif Display', serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.hamburger {
  display: none;
}

:root {
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
}

header {
  background-color: white;
  color: var(--very-dark-violet);
  letter-spacing: 1px;
}

header a {
  letter-spacing: 1px
}

.header-container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
}

header ul li a {
  color: var(--grayish-blue);
  text-decoration: none;
}

header ul li a:hover {
  color: var(--dark-violet);
}

.plans {
  margin-left: 25px;
  color: var(--very-dark-violet);
  padding: 8px 20px;
  border: 2px solid var(--very-dark-violet);
  letter-spacing: 1.4px;
}

.plans:hover {
  color: white;
  background-color: var(--very-dark-violet);
  transition: ease-in-out 0.2s;
}

.logo {
  color: var(--dark-violet);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

.intro {
  color: white;
  background: var(--dark-violet);
  padding-top: 100px
}

.intro-container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-height: 480px;
}

.line {
  width: 150px;
  border-top: 1px solid white;
}

.intro-container .text {
  width: 50%;
}

.intro-container .photo {
  width: 50%;
}

.intro-container img {
  width: 100%;
}

.intro-plans {
  margin-left: 0;
  color: var(--dark-violet);
  border: 2px solid white;
  color: white;
  padding: 8px 20px;
  letter-spacing: 1.4px;
}

.intro-plans:hover {
  background: white;
  color: var(--dark-violet);
}

.intro-container h1 {
  font-size: 3.9rem;
  font-weight: 500;
  line-height: 4rem;
  margin-top: 60px;
}

.intro-container p {
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0 40px;
}


/* Different */
.different {
  padding-top: 300px;
}

.different-container {
  max-width: 1024px;
  margin: auto;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  text-align: center;
}

.first-section,
.second-section,
.third-section {
  flex-basis: 32%;
}

.advantages h3 {
  margin: 30px 0 20px;
  font-size: 1.4rem;
  color: hsl(256, 26%, 20%)
}

.advantages p {
  color: hsl(256, 15%, 45%);
}

.different .line {
  border: 1px solid hsl(256, 15%, 45%);
}

.different h2 {
  margin: 60px 0 80px;
  font-size: 3.5rem;
  color: hsl(256, 26%, 20%)
}

.dark-container {
  background: hsl(256, 26%, 20%);
  height: 240px;
  margin-bottom: 150px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.dark-container h2 {
  color: white;
  font-size: 2.8rem;
  width: 55%;
}

footer {
  padding: 60px 0;
  background-color: hsla(0, 0%, 98%, 1);
}

.footer-container {
  max-width: 1024px;
  margin: auto;
}

ul li {
  list-style-type: none;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid hsla(0, 0%, 87%, 1);
}

.footer-header ul {
  display: flex;
  align-items: center;
}

.footer-header ul li {
  margin-left: 15px;
}

.social-media ul img:hover {
  scale: 1.3;
}

.footer-main {
  padding-top: 40px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  max-width: 85%;
}

.footer-sections ul {
  margin-top: 30px;
}

.footer-sections ul li {
  margin-top: 15px;
}

.footer-sections span {
  font-weight: 600;
  color: rgb(131, 131, 131);
}

.footer-sections ul li a {
  color: var(--dark-violet);
  font-weight: 600;
}

.footer-sections ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .header-container {
    max-width: calc(100% - 32px);
  }

  .intro {
    padding-top: 60px;
  }

  .intro-container {
    max-width: calc(100% - 32px);
  }

  .line {
    width: 120px;
  }

  .intro-container h1 {
    font-size: 3rem;
    line-height: 3.4rem;
    margin-top: 50px;
  }

  .intro-container p {
    margin: 25px 20px 40px 0;
    line-height: 1.5rem;
  }

  .intro-plans {
    padding: 8px 18px;
  }

  .different {
    padding-top: 200px;
  }

  .different-container {
    max-width: calc(100% - 32px);
  }

  .advantages {
    margin-bottom: 100px;
  }

  .advantages h3 {
    font-size: 1.4rem;
    margin: 15px 0 15px;
  }

  .different h2 {
    margin: 40px 0 70px;
    font-size: 3rem;
  }

  .dark-container h2 {
    font-size: 2.5rem;
  }

  .dark-container {
    margin-bottom: 80px;
  }

  footer {
    padding: 50px 0;
  }

  .footer-container {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 960px) {
  .different {
    padding-top: 100px;
  }

  .dark-container {
    height: 200px;
    margin-bottom: 50px;
    padding: 50px;
  }

  .dark-container h2 {
    font-size: 2.3rem;
    width: 60%;
  }
}

@media (max-width: 760px) and (min-width: 570px) {
  header a {
    letter-spacing: 0.5px;
  }

  .header-container {
    max-width: calc(100% - 32px);
  }

  header ul li {
    margin-left: 13px;
    font-size: 13px;
  }

  .plans {
    margin-left: 16px;
    padding: 7px 15px;
  }

  .intro {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .intro-container {
    max-width: calc(100% - 32px);
    align-items: center;
  }

  .line {
    display: none;
  }

  .intro-plans {
    padding: 6px 15px;
  }

  .intro-container h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-top: 0;
  }

  .intro-container .text {
    margin-right: 10px;
  }

  .intro-container p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .different {
    padding-top: 20px;
  }

  .advantages {
    margin-bottom: 60px;
    align-items: center;
  }

  .advantages p {
    display: none;
  }

  .different h2 {
    margin: 30px 0 50px;
    font-size: 2.5rem;
    text-align: center;
  }

  .dark-container {
    height: 150px;
    margin-bottom: 50px;
    padding: 40px;
  }

  .dark-container h2 {
    color: white;
    font-size: 1.8rem;
    width: 55%;
  }

  .footer-sections {
    max-width: 100%;
  }
}

@media (max-width: 569px) {
  header ul {
    display: none;
  }

  .hamburger {
    display: block;
  }
}